.table {
  border-collapse: collapse;
  font-size: 16px;
}

.título-table {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.célula {
  border: 1px solid #000000;
  text-align: center;
  padding: 4px 0;
  background-color: #0099ff0d;
}

.célula-título {
  border: 1px solid #000000;
  text-align: center;
  padding: 4px 12px;
  background-color: #0099ff80;
}
